html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 50px;
  font-family: 'Inter', sans-serif;
  position: relative;
}

header {
  grid-column: 1;
  background-color: lightgray;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #131F53;
  color: #ffffff;
}

header .logo {
  padding: 16px 24px;
}

header h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-weight: 600;
}

header .default-project-container {
  display: flex;
  flex-direction: column;
  color: rgba(255,255,255,0.9);
}

header .default-project {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 8px 24px;
  border-radius: 6px;
  cursor: pointer;
}

header .default-project:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

header .custom-project-container {
  display: flex;
  flex-direction: column;
}

header .custom-project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 24px;
}

.custom-project-header button {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  color: #ffffff;
}

.custom-project-header button:hover {
  background-color: rgba(0, 0, 0, 0.5);

}

.add-project-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}

.add-project-container {
  background-color: #fff;
  color: #000000;
  width: 500px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
}

.add-project-container h3 {
  margin: 0;
  font-size: 1.5rem;
}

input#custom-project-name {
  font-family: inherit;
  font-size: inherit;
  padding: 8px;
  margin-top: 16px;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
}

input#custom-project-name:focus {
  outline: none;
  border: 1px solid #131F53;
}

.input-project-btn button {
  padding: 8px 12px;
  font-family: inherit;
  border: 1px solid lightgray;
  border-radius: 6px;
  cursor: pointer;
}

.submit-project-btn {
  background-color: #131F53;
  color: #ffffff;
}

.cancel-submit-project {
  background-color: #ffffff;
}

.cancel-submit-project:hover {
  background-color: #f2f2f2;
}

header .custom-project {
  font-weight: 500;
  padding: 8px 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255,255,255,0.9);
}

header .custom-project:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

header .active-project {  
  background-color: rgba(0, 0, 0, 0.5);
}

.material-icons.md-18 { font-size: 18px; }

.material-icons.md-24 { font-size: 24px; }

.material-icons.md-36 { font-size: 36px; }

.material-icons.md-48 { font-size: 48px; }

p {
  margin: 0;
}

main {
  grid-column: 2;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  color: #191919;
}

main .project-title {
  font-size: 1.75rem;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.project-title .btn-edit-project {
  margin-left: 8px;
  cursor: pointer;
}

.input-edit-project {
  font-size: 1.75rem;
  font-family: inherit;
}

main .add-task {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
}

main .add-task:hover {
  background-color: rgb(19, 31, 83, 0.05);
}

main .task-input-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

main .task-input-container {
  display: grid;
  grid-template-columns: 1fr 120px;
  gap: 8px;
  padding: 8px;
  margin-bottom: 16px;
  width: 40%;
  padding: 16px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.task-input-container input,
.task-input-container textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 4px;
  border-radius: 4px;
  border: none;
}

.task-input-container input:focus,
.task-input-container textarea:focus {
  outline: none;
}

.task-input-container #task-title {
  grid-column: 1;
  font-weight: 600;
}

.task-input-container #task-duedate {
  grid-column: 2;
}

.task-input-container textarea {
  grid-column: 1 / span 2;
  resize: none;
}

.input-task-btn {
  display: flex;
  gap: 8px;
  grid-column: 1 / span 2;
  justify-self: start;
}

.input-task-btn button {
  font-family: inherit;
  font-size: inherit;
  padding: 8px 16px;
  border: 1px solid lightgray;
  border-radius: 6px;
  cursor: pointer;
}

.input-task-btn .btn-add-task,
.input-task-btn .btn-edit-task {
  background-color: #131F53;
  color: #ffffff;
}

.input-task-btn .btn-cancel-task {
  background-color: #ffffff;
}

.input-task-btn .btn-cancel-task:hover {
  background-color: #f2f2f2;
}

main .task-list {
  overflow: auto;
}

main .task {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.task-title-btn {
  cursor: pointer;
}

.task-title-btn:hover {
  text-decoration: underline;
}

.task-checkbox {
  cursor: pointer;
}

.task-due-date {
  margin-left: auto;
}

.btn-edit-task,
.btn-delete-task {
  cursor: pointer;
}

main .task:hover {
  background-color: rgb(19, 31, 83, 0.05);
  border-radius: 4px;
}

main .task-detail-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.task-detail-container {
  position: relative;
  background-color: lightgray;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  font-size: 1.125rem;
}

.task-detail-group {
  display: flex;
}

.task-detail-attr {
  font-weight: 600;
  width: 200px;
}

.task-detail-close {
  position: absolute;
  top: 8px;
  right: 6px;
  cursor: pointer;
}

footer {
  grid-column: 1 / span 2;
  background-color: hsl(229, 63%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #ffffff;
}

footer a {
  color: #ffffff;
}