html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 50px;
  font-family: 'Inter', sans-serif;
  position: relative;
}

header {
  grid-column: 1;
  background-color: lightgray;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

header .logo {
  padding: 16px 24px;
}

header h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-weight: 600;
}

header .default-project-container {
  display: flex;
  flex-direction: column;
}

header .default-project {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 8px 24px;
  border-radius: 6px;
  cursor: pointer;
}

header .default-project:hover {
  background-color: gray;
}

header .custom-project-container {
  display: flex;
  flex-direction: column;
}

header .custom-project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 24px;
}

.custom-project-header button {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.custom-project-header button:hover {
  background-color: gray;
}

.custom-project-input {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 24px;
  gap: 4px;
}

input#custom-project-name {
  grid-column: 1 / span 2;
  font-family: inherit;
  font-size: inherit;
  padding: 8px;
}

.custom-project-input button {
  padding: 6px 0;
  font-family: inherit;
}

header .custom-project {
  font-weight: 500;
  padding: 8px 24px;
  cursor: pointer;
}

header .custom-project:hover {
  background-color: gray;
  border-radius: 4px;
}

.material-icons.md-18 { font-size: 18px; }

.material-icons.md-24 { font-size: 24px; }

.material-icons.md-36 { font-size: 36px; }

.material-icons.md-48 { font-size: 48px; }

p {
  margin: 0;
}

main {
  grid-column: 2;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
}

main .project-title {
  font-size: 1.75rem;
  margin-bottom: 32px;
}

main .add-task {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
}

main .add-task:hover {
  background-color: lightgrey;
}

main .task-modal-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

main .task-input-modal {
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 8px;
  padding: 8px;
  margin-bottom: 16px;
  width: 40%;
  padding: 16px;
  border-radius: 16px;
  background-color: grey;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.task-input-modal input,
.task-input-modal textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 4px;
  border-radius: 4px;
}

.task-input-modal input:focus,
.task-input-modal textarea:focus {
  outline: none;
}

.task-input-modal #task-title {
  grid-column: 1;
}

.task-input-modal #task-duedate {
  grid-column: 2;
}

.task-input-modal textarea {
  grid-column: 1 / span 2;
  resize: none;
}

.input-task-btn {
  display: flex;
  gap: 8px;
  grid-column: 1 / span 2;
  justify-self: start;
}

.input-task-btn button {
  font-family: inherit;
  font-size: inherit;
  padding: 6px 10px;
}

main .task-list {
  overflow: auto;
}

main .task {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.task-title-btn {
  cursor: pointer;
}

.task-title-btn:hover {
  text-decoration: underline;
}

.task-checkbox {
  cursor: pointer;
}

.task-due-date {
  margin-left: auto;
}

.btn-edit-task,
.btn-delete-task {
  cursor: pointer;
}

main .task:hover {
  background-color: lightgray;
  border-radius: 4px;
}

main .task-detail-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.task-detail-container {
  position: relative;
  background-color: lightgray;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  font-size: 1.125rem;
}

.task-detail-group {
  display: flex;
}

.task-detail-attr {
  font-weight: 600;
  width: 200px;
}

.task-detail-close {
  position: absolute;
  top: 8px;
  right: 6px;
  cursor: pointer;
}

footer {
  grid-column: 1 / span 2;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}